project1/.vscode/settings.json
project2/.vscode/settings.json
project3/.vscode/settings.json
project3/csv-client
project3/bin/shm_server.o
project3/bin/shm_client.o
project3/bin/main_client.o
project3/bin/main_server.o
project3/csv-server
project1/calculate
project4/.vscode/settings.json
project4/bin/mmap_fstream.o
project4/src/grow-mmap-file
project4/src/grow-mmap-file
project4/mmap_fstream.o
project4/test_mmap_fstream.o
project4/test_open.txt
project4/test-mmap-fstream
project4/test_ate.txt
project4/test_put.txt
project4/test_get.txt
