project1/.vscode/settings.json
project2/.vscode/settings.json
project3/.vscode/settings.json
project3/csv-client
project3/bin/shm_server.o
project3/bin/shm_client.o
project3/bin/main_client.o
project3/bin/main_server.o
project3/csv-server
project1/calculate
